.header-h{
	height: 45px;
	font-size: 12px;
	color: #ffffff;
	background-color: #04C9F4!important;
}

.cad-form{
	background-color: #D9D9D9!important;
	width: 454px;
}

.content-l{
	height: calc(100vh - 90px - 1rem);
}

.footer-h{
	height: 45px;
	font-size: 12px;
	color: #04C9F4!important;
	background-color: #ffffff!important;
}